<div class="container">
  <div class="titlebox col-md">
    <h1>Coding Projects</h1>
    <h3>Projects that give bootcamp graduates the opportunity to roll up their sleeves and test their skills.</h3>
  </div>
</div>

<div class="container"> 
  <div class="body-text col-md">
    Once you’ve graduated from coding bootcamp, you’re advised to ‘keep coding’. This makes sense as it keeps your skills sharp and hopefully expands your project portfolio for that all-important job application.
  </div>
  <div class="body-text col-md">
    But what should you code? Websites like CodeWars offer hundreds of coding challenges for you to work through. But they tend to be small algorithm exercises, rather than roll-your-sleeves-up web projects.
  </div>
  <div class="body-text col-md">
    If you could add a few substantial web apps to your portfolio, it would go a long way to convincing a potential employer that your basic skills are strong and that you know how to ‘fly solo’.
  </div>
  <div class="body-text col-md">
    This page suggests a few coding projects of gradually increasing difficulty to build and add to your Github account.
  </div>
  <br />
</div> 

<div class="container">
  <div class="textbox col-md">
    <b>Front-end Projects</b>
  </div>
  <ul>
    <div class="item col-md">
      <li><b>Coming soon...</b></li>
    </div>
    <!-- <div class="item col-md">
      <li><b>Name of Project.</b> Short description goes here.</li>
    </div> -->
  </ul>
</div>

<div class="container">
  <div class="textbox col-md">
    <b>Full-stack Projects</b>
  </div>
  <ul>
    <div class="item col-md">
      <li><b><%= link_to 'Planets of the Solar System.', projects_planets_path %></b> Image slideshow, small database, 1 controller, 1 model, simple CSS.</li>
    </div>
  </ul>
</div>

<div class="container">
  <div class="textbox col-md">
    <b>Single Page Applications</b>
  </div>
  <ul>
    <div class="item col-md">
      <li><b>Coming soon...</b></li>
    </div>
    <!-- <div class="item col-md">
      <li><b>Name of Project.</b> Short description goes here.</li>
    </div> -->
  </ul>
</div>