<div class="container">
  <div class="titlebox col-md"> <!-- Title and sub-title -->
    <h1>Advanced Courses</h1>
    <h3>These are the career options in which bootcamp graduates can specialise.</h3>
  </div>
</div>

<!-- Section headings are stored in the 'Heading' database table. -->
<!-- The headings needed for this page have 'id' numbers from 17 to 23 -->
<% for this_heading in 17..23 %>
  <div class="container">
    <div class="section-heading col-md"> <!-- Sect. headings have their own CSS style -->
      <%= @headings.find(this_heading).heading_text %> <!-- Show section heading text for a particular id num -->
    </div>
    <ul>
      <div class="bullet-point col-md"> <!-- Show links as bullet points -->
        <% @links.where(heading_id: this_heading).each do |link| %> <!-- All links for this heading_id -->
          <li><b><a target="_blank" rel="noopener noreferrer" href='<%= link.URL %>'><%= link.title %></a></b></li>
        <% end %>
      </div>
    </ul>
  </div>
<% end %>