<h1>This is the index page.</h1> <!-- Test text to ID the page when it's displayed -->

<%= link_to 'Link to Coding Projects page', projects_index_path %>
<br />
<%= link_to 'Link to Job Advice page', advice_path %>
<br />
<%= link_to 'Link to Job Opportunities page', job_ops_path %>
<br />
<%= link_to 'Link to Advanced Courses page', courses_path %>