/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,600');

body {background-color: blue;}

.navbar-title { /* Class applied to 'After-Bootcamp' title at left-hand end of nav-bar */
  font-family: 'Patua One', cursive;
  font-size: 30px;
  color: white;
}

.nav-link { /* Class applied to four nav-links at right-hand end of nav-bar */
  font-family: 'Catamaran', sans-serif;
  font-size: 22px;
  color: #F4CB22;
}

.background-col { /* Class applied to 'body' tag on all pages */
  background-color: #202020;
}

.titlebox { /* titlebox contains the title and sub-title at the top of every page */
  text-align: center;
  padding: 20px;
}

.titlebox h1 { /* This applies to the page title at the top of every page */
  font-family: 'Patua One', cursive;
  font-size: 56px;
  color: white;
}

.titlebox h3 { /* This applies to the one-line subtitle beneath the title on every page */
  font-family: 'Catamaran', sans-serif;
  font-size: 30px;
  color: white;
  margin-top: 14px;
  margin-bottom: 14px;
}

.intro-text { /* This is for paragraph text that might appear beneath the subtitle to explain the page */
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: white;
  margin-bottom: 10px;
}

.homepage-box { /* 4 navigation boxes in the body of the index page */
  margin-top: 14px;
  border-radius: 20px;
  padding: 8px;
  background-color: #444444;
  /* Attributes for when regular text appears in those boxes (Only seen on the index page) */
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: white;
  margin-bottom: 10px;
}

.homepage-box b a { /* This is the bold text in the 4 nav boxes in the body of the index page */
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: white;
  padding-left: 10px;
}

.section-heading { /* The boxes that make-up the section headings on link list pages & project detail pages */
  margin-top: 14px;
  border-radius: 20px;
  padding: 8px;
  background-color: #444444;
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: white;
  margin-bottom: 10px;
  padding-left: 20px;
}

.bullet-point { /* Non-bold bullet point text (Used on project page for quickly describing project links) */
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: white;
  margin-top: 6px;
}

.bullet-point b { /* Bold text style used on all 'link' bullet points */
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: white;
  margin-top: 6px;
}

.bullet-point li pre { /* Reduces huge amount of padding within the black boxes that hold code snippets */
  padding: 0;
}

.footer-text { /* Footer text to credit author */
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #777777;
  text-align: center;
  margin-bottom: 10px;
}