<!DOCTYPE html>
<html>
  <head>
    <title>After-Bootcamp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="background-col">
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-title" href="index.html">After-Bootcamp</a>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="job-links.html">Job Links</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="coding-projects.html">Coding Projects</a>
        </li>
      </ul>
    </nav>

    <br class="clear" />

    <%= yield %>
  </body>
</html>
